<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @link.name %>
</p>

<p>
  <b>Approved:</b>
  <%= @link.approved %>
</p>

<p>
  <b>Url:</b>
  <%= @link.url %>
</p>

<p>
  <b>Category:</b>
  <%= @category.name %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
