<%- content_for(:head) do -%>
<%= javascript_include_tag "formDeleter.js" -%>
<%- end -%>

<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th colspan="3">action</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :method => :delete, :class => 'delete' %></td>
  </tr>
<% end %>
</table>

<br />
 <% if user_signed_in? %>
<%= link_to 'New Category', new_category_path %>
<% end %>
<script type="text/javascript">
attachDelete();
</script>
